<% Metric.all.each do |m|%>
  <p><%= m.name %>: <%= session[m.name] %></p>
<% end %>
<p><%= @node.body.html_safe %></p>
<% @node.edges.each do |e| %>
	<a href="/edges/<%= e.id %>">
		<button class="btn">
			<%= e.name %> <%= @metric_operations %>
		</button>
	</a>
<% end %>




<!--Добавить строковый value в таблицу валуес и сохранять в сессия и менять а в метрику тип -->