<div ng-controller="AdminBoardCtrl" ng-init="init();" class="admin_body">
	<div class="admin">
		<span ng-repeat="e in edges" style="position: relative; width: calc(100% / <%= @edges.count %>)">
			<%= render "/flow/new_node" %>
			<div style="display: -webkit-flex; -webkit-justify-content: flex-start; display: flex; align-items: center;">
				<div class="nodes" ng-mouseenter="nodeView(e.id);" ng-mouseleave="nodeView(e.id);">
					{{ e.node.name }}
				</div>
				<div style="margin-left: 0px;" ng-if="$last" class="nodes" ng-mouseenter="nodeView(e.id);" ng-mouseleave="nodeView(e.id);">
					<%= @last_node.name %>
				</div>
				<div ng-if="!$last" style="display: inline-block; height: 2px; width: 100%; background-color: black;"></div>
			</div>
			<div class="btn_admin" ng-click="createNode(e);">
					Создать новый нод
			</div>
			<div class="white_block" id="e-{{e.id}}"  name= "{{ e.name }}">
				<%= render partial:"/flow/edge_circles" %>
			</div>
		</span>
	</div>
</div>
<%= render partial: "/flow/table" %>