<div ng-controller="AdminBoardCtrl" ng-init="init(<%= Metric.all.to_json%>);" class="admin_body">
	<div class="admin">
		<span ng-repeat="e in edges" style="position: relative; margin-top: 80px;">
			<%= render "/flow/add_metric_has_to_be_entered" %>
			<%= render "/flow/add_metric_has_not_to_be_entered" %>
			<%= render "/flow/new_node" %>
			<div style="display: -webkit-flex; -webkit-justify-content: flex-start; display: flex; align-items: center; ">
				<div class="nodes" ng-if="!$last" ng-mouseenter="nodeView(e.id);" ng-mouseleave="nodeView(e.id);">
					{{ e.id+" "+e.node.name }}
				</div>
				<div ng-if="!$last" style="position: relative; display: block; height: 2px; width: 82px; background-color: #868686; margin: 0;">
					<div class="white_block" id="e-{{e.id}}"  name= "{{ e.name }}">
						<%= render partial:"/flow/edge_circles" %>
					</div>
				</div>
				<div style="font-size: 16px; padding: 5px; box-sizing: border-box; min-width: 120px;" ng-if="$last" class="nodes" ng-mouseenter="nodeView(e.id);" ng-mouseleave="nodeView(e.id);">
					<%= @last_node.name %>
				</div>
				<div class="white_block" id="e-{{e.id}}"  name= "{{ e.name }}">
					<%= render partial:"/flow/edge_circles" %>
				</div>
			</div>
			<div class="btn_admin" ng-click="createNode(e);">
					Создать новый нод
			</div>
			
		</span>
	</div>
	<%= render partial: "/flow/table" %>
</div>